.details {
    position: relative;
    margin-top: 30px;
}
.details__content {
    display: flex;
    justify-content: space-between;
}
.details__content-body {
    width: 78%;
}
.wishlist__content-message {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    padding: 0 22px;
    border-radius: 5px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 313%;
    letter-spacing: 0.03em;
    color: #fff;
    background: #3bb77e;
}
.details__content-category {
    width: 20%;
}
.details__body-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details__main-bg {
    border: 1px solid #ececec;
    border-radius: 15px;
    width: 48%;
    height: 530px;
    overflow: hidden;
}
.details__bg-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details__main-info {
    width: 48%;
}
.details__info-sale {
    width: 25%;
    padding: 6px 12px;
    border-radius: 5px;
    background: #fde0e9;
}
.details__info-sale span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #f74b81; 
}
.details__info-title {
    margin: 19px 0 17px;
}
.details__info-reting {
    display: flex;
    align-items: center;
    gap: 8px;
}
.details__reting-star {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #fdc040;
}
.details__info-price {
    margin: 40px 0 31px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.details__price-inse {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 58px;
    line-height: 100%;
    color: #3bb77e;
}
.details__old-name {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #fdc040;
}
.details__old-span {
    margin-top: 5px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    text-decoration: line-through;
    color: #b6b6b6;
}
.details__info-footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 9px;
}
.details__footer-number {
    height: 100%;
    padding: 13px 22px;
    border: 2px solid #3bb77e;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}
.details__footer-number::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}
.details__number-btn {
    height: 50px;
    padding: 0 22px;
    border-radius: 5px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 313%;
    letter-spacing: 0.03em;
    color: #fff;
    background: #3bb77e;
}
.details__number-wishlist {
    height: 50px;
    padding: 0 22px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}
.details__content-coment {
    margin: 50px 0 60px;
    padding: 40px 50px;
    border: 1px solid #ececec;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
}
.details__coment-title {
    margin-bottom: 40px;
}
.details__coment-item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.coment__user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #ececec;
}
.coment__user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} 
.coment__user-name {
    margin: 20px 0;
}
.coment__rating {
    margin-top: 20px;
}
.coment__form-title {
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 94%;
    color: #253d4e;
}
.details__coment-form form {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.coment__textarea,
.coment__input {
    width: 50%;
    padding: 22px 0 22px 22px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #ececec;
    border-radius: 10px;
}
.coment__btn {
    height: 50px;
    padding: 0 22px;
    border-radius: 5px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 313%;
    letter-spacing: 0.03em;
    color: #fff;
    background: #3bb77e;
}
.details__coment-list .error {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #3bb77e;
}
